* {
  box-sizing: border-box;
}

/* Body styling start */
body {
  background-image: url("imges/Back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* Body styling end */

/* SideBar Styling start */
.sidebar {
  width: 10vw;
  height: 120vh;
  background: rgb(243, 69, 6, 0.5);
  border: none;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  display: flex;
  flex-direction: column;
}
.Home {
  width: 10%;
  height: 10%;
  margin-bottom: 50px;
  align-self: center;
  justify-self: center;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  padding: 5px;
  border: none;
}
.Home:hover {
  background: rgb(247, 29, 0);
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}
.hideicon {
  width: 5vw;
  height: 5vh;
  border: none;
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  background-image: url("imges/Menubar.png");
  background-position: center;
  background-size: cover;
  display: none;
}
.name {
  border: none;
  background: transparent;
}
.name span {
  font-family: "Abril Fatface", serif;
  color: white;
  font-size: 20px;
}
.icon {
  width: 50px;
  height: 50px;
  background-image: url("imges/Home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hide {
  width: 25px;
  height: 25px;
  background-image: url("imges/Menubar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
.icon1 {
  width: 50px;
  height: 50px;
  background-image: url("imges/Order.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon2 {
  width: 50px;
  height: 50px;
  background-image: url("imges/Customer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon3 {
  width: 50px;
  height: 50px;
  background-image: url("imges/Report.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon4 {
  width: 50px;
  height: 50px;
  background-image: url("imges/Item.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* SideBar styling end */

/* container box styling */
.container {
  width: 80vw;
  height: 120vh;
  border: none;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(fit-content, auto);
  position: relative;
  padding-right: 3em;
  margin-top: 200px;
}
/* continer box styling end */

/* Mos Bugger Hedder stylin start */
.HeadTitle {
  width: max-content;
  height: max-content;
  position: absolute;
  top: 20px;
  left: 43%;
}
.title {
  font-family: "Abril Fatface", serif;
  color: rgb(143, 22, 1);
}
/* MOS Bugger Heder styling end */

/* Search box styling start */
.searchbox {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50px;
  left: 80%;
}
#search {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding-left: 50px;
  font-family: "Abril Fatface", serif;
  position: relative;
}
.searchIcon {
  width: 25px;
  height: 25px;
  background-image: url("imges/Search.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 4px;
  left: 5px;
}
/* search box styling end */

/* Item Car section Styling start */
.itemCardRow {
  position: absolute;
  left: 300px;
  top: 150px;
  width: fit-content;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.itemCard {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 330px;
  margin: 10px;
}
.itemCard:hover {
  box-shadow: 10px 10px 12px black;
  cursor: pointer;
}
.cardPic {
  width: 150px;
  height: 200px;
  background: rgb(199, 9, 9);
  align-self: center;
  justify-items: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CardPicItem {
  width: 100px;
  height: 100px;
  background-image: url("imges/bugger01-removebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItemB1 {
  width: 100px;
  height: 100px;
  background-image: url("imges/chickenBugger-removebg-preview.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.cardPicItemB2 {
  width: 100px;
  height: 100px;
  background-image: url("imges/bugger01-removebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.cardPicItemB3 {
  width: 100px;
  height: 100px;
  background-image: url("imges/FishBugger-removebg-preview.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.cardPicItemB4 {
  width: 100px;
  height: 100px;
  background-image: url("imges/muttonBugger.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItem1 {
  width: 100px;
  height: 100px;
  background-image: url("imges/fries-removebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItem2 {
  width: 100px;
  height: 100px;
  background-image: url("imges/Past-removebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItem3 {
  width: 100px;
  height: 100px;
  background-image: url("imges/chicken-removebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItemC3 {
  width: 100px;
  height: 100px;
  background-image: url("imges/chickenCurry-removebg-preview.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItemC4 {
  width: 100px;
  height: 100px;
  background-image: url("imges/chickenDevel-removebg-preview.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItem4 {
  width: 100px;
  height: 100px;
  background-image: url("imges/Baverage-removebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItemBV4 {
  width: 100px;
  height: 100px;
  background-image: url("imges/beer-removebg-preview.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItemBV5 {
  width: 100px;
  height: 100px;
  background-image: url("imges/cider-removebg-preview.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItemBV6 {
  width: 100px;
  height: 100px;
  background-image: url("imges/cocktials.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItem5 {
  width: 100px;
  height: 100px;
  background-image: url("imges/submarine-removebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItemS5 {
  width: 100px;
  height: 100px;
  background-image: url("imges/chicken_submarine-removebg-preview.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItemS6 {
  width: 100px;
  height: 100px;
  background-image: url("imges/vegetable_submarine-removebg-preview.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItemS7 {
  width: 100px;
  height: 100px;
  background-image: url("imges/fishBugger2-removebg-preview.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.CardPicItem6 {
  width: 100px;
  height: 100px;
  background-image: url("imges/bugggerbac-removebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
  justify-items: center;
  position: relative;
  top: 20px;
  z-index: 111;
}
.cardDetails {
  padding-top: 60px;
  width: 150px;
  height: 400px;
  background: white;
  align-self: center;
  justify-items: center;
  position: relative;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 15%;
}
.price {
  width: 150px;
  height: 30px;
  background: white;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}
.plusIcon {
  width: 25px;
  height: 25px;
  background-image: url("imges/Plus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.plusIcon:hover {
  border: solid 1px rgb(255, 136, 0);
}
.plusIcon:active {
  border: solid 1px red;
}
.price p {
  font-family: "Abril Fatface", serif;
}
.rate {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rate p {
  font-family: "Abril Fatface", serif;
}
.star {
  width: 25px;
  height: 25px;
  background-image: url("imges/star.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.namePrce {
  width: fit-content;
  height: 30px;
  align-self: center;
  justify-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.stoke {
  width: 100px;
  height: 20px;
  align-self: center;
  justify-items: center;
  display: flex;
  background: white;
  align-items: center;
  justify-content: center;
  color: orangered;
}
.line {
  width: 150px;
  height: 2px;
  background: rgb(240, 238, 238);
}
.de {
  width: 100px;
  height: 20px;
  align-self: center;
  justify-items: center;
  display: flex;
  background: white;
  align-items: center;
  padding-left: 20px;
}
.de span {
  padding-left: 3px;
}

/* Item Card section styling end */

/* card page styling section start*/

.container5 {
  width: 80%;
  height: 90vh;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 32px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "a b"
    "c b"
    "d b";
  display: none;
}
/* Container styling end */

/* headTitle styling start */
.headTitle {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headTitle h3 {
  font-family: "Abril Fatface", serif;
  color: brown;
  font-size: 30px;
}

/* headtitle styling end */

/* Payment styling start */
.payment {
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.cardParent {
  width: 80%;
  height: 80vh;
  border-radius: 10px;
  padding: 10px;
  background: rgba(252, 65, 8, 0.5);
  display: grid;
  grid-gap: 1em 2em;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 3fr 1fr;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d";
}
.title {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title h3 {
  font-family: "Abril Fatface", serif;
  color: white;
  font-size: 20px;
}
.method {
  grid-area: b;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "a"
    "b"
    "c";
}
.visa {
  grid-area: a;

  display: flex;
  align-items: center;
}
.vistext {
  width: 45px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-family: "Abril Fatface", serif;
  text-align: center;
}
.vispic {
  width: 70%;
  height: 50px;
  background-image: url("imges/visacard.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.credit {
  grid-area: b;
  display: flex;
  align-items: center;
}
.paypal {
  grid-area: c;
  display: flex;
  align-items: center;
}
.inputDetails {
  grid-area: c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: solid gray 2px;
}
.form > input {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  font-family: "Abril Fatface", serif;
}
.sub {
  display: flex;
  margin-top: 10px;
}
.sub > input {
  width: 75px;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  font-family: "Abril Fatface", serif;
  text-align: center;
  margin-right: 5px;
}
.footer {
  grid-area: d;
  border-top: solid gray 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-family: "Abril Fatface", serif;
  color: white;
  background: red;
}
/* Payment styling end */
.cartTable {
  grid-area: c;
  display: flex;
  justify-content: center;
}
.table table {
  width: 400px;
}
th {
  border-bottom: solid 1px black;
  border-collapse: collapse;
  font-family: "Abril Fatface", serif;
  color: rgb(255, 83, 4);
}
td {
  text-align: center;
}
.itempic {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-image: url("imges/bugger01-removebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.size {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  background: gray;
  padding: 5px;
  border-radius: 2px;
}
.size span {
  margin-right: 5px;
}
.addmin {
  width: 80px;
  height: 30px;
  padding: 5px;
  background: gray;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addmin i {
  padding: 10px;
}
.addmin span {
  padding: 10px;
}
.fotter {
  grid-area: d;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fullset {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.fullset .text {
  color: rgb(255, 30, 0);
  margin-left: 5px;
}
.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(253, 252, 252);
  overflow-x: hidden;
  padding-top: 20px;
  display: none;
  margin-top: 50px;
}
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.active {
  background-color: green;
  color: white;
}
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* card page styling end */

/* Add media Query */
@media screen and (max-width: 1286px) {
  .itemCardRow {
    grid-template-columns: repeat(3, 1fr);
  }
  #search {
    width: 150px;
  }
}

@media screen and (max-width: 1038px) {
  .itemCardRow {
    grid-template-columns: repeat(2, 1fr);
  }
  .searchbox {
    top: 100px;
    left: 40%;
  }
  #search {
    width: 200px;
  }
}

@media screen and (max-width: 932px) {
  .name {
    display: none;
  }
}
@media screen and (max-width: 790px) {
  .itemCardRow {
    grid-template-columns: 1fr;
    left: 200px;
  }
  .sidenav {
    display: none;
  }
}

@media screen and (max-width: 790px) {
  .icon,
  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    display: none;
  }
  .hide {
    display: block;
  }
}

@media screen and (max-width: 488px) {
  .HeadTitle {
    left: 23%;
    font-size: 10x;
  }
  .searchbox {
    top: 100px;
    left: 20%;
  }
  .itemCardRow {
    left: 100px;
  }
}
